@page "/"
@using vagtplanen.Shared
@inject HttpClient Http
@using System.Net.Http
@using BlazorPro.Spinkit

@if (page_access == -1)
{
    <h1>Login her</h1>
    <RadzenCard>
        <RadzenTemplateForm Data=@("SimpleLogin")>
            <RadzenLogin AllowRegister="false" AllowResetPassword="false" Login=@(args => OnLogin(args)) Style="margin-bottom: 20px;" />
            @if (isLoading) { <Chase /> }
        </RadzenTemplateForm>
    </RadzenCard>

}
else if (page_access == 0)
{
    <VolunteerPage vol="@vol" />
}
else if (page_access == 1)
{
    <CoordinatorPage coor="@coor" />
}

@code {
    public int page_access = -1;
    public bool isLoading = false;

    public Volunteer vol = new();
    public Coordinator coor = new();

    async Task OnLogin(LoginArgs args)
    {
        isLoading = true;
        try
        {
            int res = await Http.GetFromJsonAsync<int>($"api/method/login/{args.Username}/{args.Password}");
            if (res == 0)
            {
                vol = await Http.GetFromJsonAsync<Volunteer>($"api/volunteer/{args.Username}");
                isLoading = false;
                page_access = vol.access;
            }
            else if (res == 1)
            {
                coor = await Http.GetFromJsonAsync<Coordinator>($"api/coordinator/{args.Username}");
                page_access = coor.access;
                isLoading = false;
            }
        }
        catch (Exception e)
        {
            isLoading = false;
            Console.WriteLine(e.Message);
        }

    }

}
